/* estilização de containers e textos */
body {
    background-color: #2b2b2b;
    color: #ffffff;
  }
  
  
  .dir {
    background-color: #181818;
    color: #ffffff;
    
    
  }
  .esq{
    background-color: #444444;
    color: #ffffff;
    
    
  }
  p{
    font-size: large;
  }
  .texto1{
    background-color: #181818;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
  }
  .texto2{
    background-color: #181818;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
  }
  .input-group{
    display: flex;
    justify-content: center;
  }
  .logo{
    width: 60%;
    size: 60%;
  }
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    text-decoration: underline;
  }
  
  .navbar-toggler{
    border: none;
  }
  .up{
    
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: #181818;
  }

  .down{
    height: 2.5rem;
    background-color: #181818;
    border: none;
  }
  .imgd{

    min-width: 100%;
    min-height: 100%;

  }
/* estilização de botao e formularios*/
  .btn-dark {
    background-color: #ffffff;
    color: #2b2b2b;
    width: 6rem;
    height: 2.5rem;
    
  }
  
  #maisp{
    width: 2rem;
    height: 2rem;
    
  }

  #redondo{
    width: 17rem;
    height: 17rem;
   
    
  }
  .btn-outline-dark-lg{
    background-color: #ffffff;
    color: #2b2b2b;
    width: 14rem;
    height: 2.5rem;
  }
  .btn-link{
    
    background-color: #d4d4d4;
  }
  .btn-link:hover{
    background-color: #2b2b2b;
  }
  
  .btn-dark:hover {
    background-color: #d4d4d4;
  }
  .btn-outline-dark-lg:hover{
    background-color: #d4d4d4;
  }
  .input-group-text{
    background-color: #181818;
    border-color: red;
  }
  
  .form-control {
    background-color: #181818;
    border: 5;
    color: #cfcfcf;
    border-color: red;
    max-width: 40rem;
    border-radius: 10%;

  }

  .form-control:focus{
    background-color: #181818;
    color: #cfcfcf;
    box-shadow: none;
    border-color: red;
  }
  
  .form-control::placeholder {
    color: #cfcfcf;
  }
  
  .form-check-label {
    color: #cfcfcf;
  }
  .bi-search{
    color: #cfcfcf;
    size: 100%;
}
.fut{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.fim{
  background-color: #212121;
  max-height: 50px;
}


