/* estilização de containers e textos */
body {
    background-color: #2b2b2b;
    color: #ffffff;
  }
  
  
  .login-box {
    background-color: #3d3d3d;
    color: #ffffff;
    max-width: 680px;
    width: 100%;
    
    
  }
  .logo{
    width: 60%;
    size: 60%;
  }
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    text-decoration: underline;
  }
  
  .navbar-toggler{
    border: none;
  }
  
  /* estilização de botão e formularios */
  .btn-dark {
    background-color: #ffffff;
    color: #2b2b2b;
    width: 14rem;
    height: 2.5rem;
    
  }
  .btn-outline-dark-lg{
    background-color: #ffffff;
    color: #2b2b2b;
    width: 14rem;
    height: 2.5rem;
  }
  .btn-link{
    
    background-color: #d4d4d4;
  }
  .btn-link:hover{
    background-color: #2b2b2b;
  }
  
  .btn-dark:hover {
    background-color: #d4d4d4;
  }
  .btn-outline-dark-lg:hover{
    background-color: #d4d4d4;
  }
  .input-group-text{
    background-color: #525252;
    border-color: red;
  }
  
  .form-control {
    background-color: #525252;
    border: 5;
    color: #cfcfcf;
    border-color: red;

  }
  .form-control:focus{
    background-color: #525252;
    color: #cfcfcf;
    box-shadow: none;
    border-color: red;
  }
  
  .form-control::placeholder {
    color: #cfcfcf;
  }
  
  .form-check-label {
    color: #cfcfcf;
  }
  .fa-solid{
    color: #cfcfcf;
    size: 100%;
}
.fim{
  background-color: #212121;
  max-height: 50px;
}
.fut{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
